<!--Importar o head padrão para todas as páginas-->
<%- include("./includes/head") -%>
<!--Importar o css exclusivo da página que está sendo desenvolvida-->
<link rel='stylesheet' href='/css/home.css' />
<!--Tag de fechamento do head que ficou aberto para possibilitar importar o css da página-->
</head>

<!--Importanto o arquivo header com a barra de pesquisa e menu-->
<%- include('./includes/header')-%>

<!--Códigos da página-->
<body>
<div class="container">
  
  <div class="row">
    <div class="col-3 coluna-esquerda">
      <%- include('./includes/perfil-usuario-home')-%>
      <%- include('./includes/apoiadores')-%> 
    </div>
    <div class="col-6 coluna-central">
     <%- include('./includes/post-feed')-%>
      <%- include('./includes/btn-nova-postagem')-%> 
    </div>
    <div class="col-3 coluna-direita">
      <!--Coluna de mensagens, aulas recentes-->
      <%- include('./includes/aulas-recentes')-%>
    </div>
  </div>

</div>




<!--Importanto o arquivo footer-->
<%- include('./includes/footer')-%>