<!--Importar o head padrão para todas as páginas-->
<%- include("./includes/head") -%>
<!--Importar o css exclusivo da página que está sendo desenvolvida-->
<link rel='stylesheet' href='/css/notificacoes.css' />
<link rel='stylesheet' href='/css/post-feed.css' />
<link rel='stylesheet' href='/css/modais-post.css' />
<link rel='stylesheet' href='/css/modal-mensagem.css' />

  <!--Tag de fechamento do head que ficou aberto para possibilitar importar o css da página-->
</head>

<%- include('./includes/header')-%>

<body>
  <div class="container">
    
    <div class="row">

      <div class="coluna-esquerda">
        <%- include('./includes/perfil-usuario-home')-%>
        <%- include('./includes/apoiadores')-%> 
      </div>

      <div class="coluna-central">
        
        <div class="div-scroll-post">
          <%- include('./includes/notificacoes-central')-%>
        </div>

      </div>

      <div class="coluna-direita">
        <%- include('./includes/mensagens-lateral')-%>
        <%- include('./includes/aulas-recentes')-%>
      </div>
    </div>
    
  </div>

<!--Importando o arquivo scripts-->
<%- include('./includes/scripts')-%>
<%- include('./includes/footer-principal')-%>