<!--Importar o head padrão para todas as páginas-->
<%- include("./includes/head") -%>
<!--Importar o css exclusivo da página que está sendo desenvolvida-->
<link rel='stylesheet' href='/css/pesquisas.css' />
<link rel='stylesheet' href='/css/post-feed.css' />

<!--Tag de fechamento do head que ficou aberto para possibilitar importar o css da página-->
</head>

<!--Importanto o arquivo header com a barra de pesquisa e menu-->
<%- include('./includes/header')-%>

<!--Códigos da página-->
<body>
  <div class="container">
    <div class="row">
      <div class="col-3 coluna-esquerda">
        
      </div>
      <div class="col-6 coluna-central">
        <%- include('./includes/btn-filtro-pesquisa')-%>

      <div class="div-usuario-aula-pesquisados">
        <%- include('./includes/usuario-pesquisado')-%>
        <%- include('./includes/aula-pesquisada')-%>
      </div>

        
        <div class="div-scroll-post">
          
          <%- include('./includes/post-feed')-%>
          <%- include('./includes/aula-feed')-%>
        </div>
      </div>
      <div class="col-3 coluna-direita">
        
        <!--Coluna de mensagens, aulas recentes-->
        <%- include('./includes/mensagens')-%>
        <%- include('./includes/aulas-recentes')-%>
      </div>
    </div>
    
  </div>
  
  
  
  
  <!--Importando o arquivo scripts-->
  <%- include('./includes/scripts')-%>
  <!-- Importando o arquivo footer-->
  <%- include('./includes/footer')-%>