<!--Importar o head padrão para todas as páginas-->
<%- include("./includes/head") -%>
<!--Importar o css exclusivo da página que está sendo desenvolvida-->
<link rel='stylesheet' href='/css/perfil.css' />
<link rel='stylesheet' href='/css/modal-mensagem.css' />

<!--Tag de fechamento do head que ficou aberto para possibilitar importar o css da página-->
</head>

<!--Importanto o arquivo header com a barra de pesquisa e menu-->
<%- include('./includes/header')-%>

<!--Códigos da página-->

<body>
  <div class="container">

    <div class="row">
      <!-- <div class="col-3 coluna-esquerda"> -->

      <!-- </div> -->
      <div class="coluna-central">
        <%- include('./includes/perfil-usuario-ranking')-%>
        <%- include('./includes/conquistas-do-usuario')-%>
        <%- include('./includes/lista-ranking-professores')-%>
      </div>
      <div class="coluna-direita">
        <!--Coluna de mensagens, aulas recentes-->
        <%- include('./includes/apoiadores')-%>
        <%- include('./includes/mensagens-lateral')-%>
      </div>
    </div>

  </div>

  <!--Importando o arquivo scripts-->
  <%- include('./includes/scripts')-%>
  <!-- Importando o arquivo footer-->
<%- include('./includes/footer-principal')-%>